.button-type-1 {
    position: relative;
    z-index: 90;
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: left;
    background-color: var(--button-color-1);
    border-radius: 60px;
    padding: 11px 42px;
    border: 0px;
    cursor: pointer;
    }
    .button-type-1:hover {
        background-color: var(--button-color-1--hover);
        transition: 0.7s;
    }
    .button-type-2 {
    color: var(--button-color-1);
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: left;
    background-color: transparent;
    border-radius: 60px;
    padding: 11px 42px;
    border: 1px solid var(--button-color-1);
    cursor: pointer;
    }
    .button-type-2:hover {
        color: var(--button-color-1--hover);
        border-color: var(--button-color-1--hover);
        background-color: var(--button-color-1--hover2);
        transition: 0.7s;
    }