.header {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: white;
    padding: 20px 0px;
    border-bottom: 1px solid var(--border-color-1);
}

.nav {
    @include container;
    display: flex;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0;
}

.logo {
    font-family: "Bebas Neue", serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: #3D00B7;

}

.nav-menu__item {
    font-family: "Roboto Condensed", serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
}

.nav-menu__separator {
    border: 1px solid var(--border-color-1);
    height: 50px;
    width: 0;
    margin: 0 40px;
}

.search-wrapper {
    position: relative;
}

.search__input {
    background-color: #FFFFFF;
    border: 2px solid #EFEFEF;
    border-radius: 100px;
    padding: 16px 117px 16px 10px;
    margin-left: 80px;
}

.search__image {
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    position: absolute;
    left: 88%;
    bottom: 20%;
}