.nft-bids {
    padding-bottom: 100px;
}

.nft-bids__container {
    @include container;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.bids__left {
    display: flex;
    flex-direction: column;
}

.bids-wrapper__left {
    display: flex;
    justify-content: space-between;
}

.bids__profile {
    display: flex;
    width: 70%;
    margin-top: 20px;
}

.profile-wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.profile-name {
    font-family: "Roboto Condensed", serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}

.stock {
    font-family: "Roboto Condensed", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1rem;
    margin: 0;
}

.bids__highest-bid {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.bid-header {
    margin: 0;
    font-family: serif;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.5;
}

.bid {
    margin: 0;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.5;
}

.bid-value {
    font-family: serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
}

.bid-icon {
    margin-right: 10px;
}

.bids__middle {
    display: flex;
    align-items: start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.bid-placer {
    display: flex;
    align-items: start;

}

.bidder {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    align-items: center;

}

.bidder-warper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;

}

.bid-name {
    font-family: serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}

.bid-info {
    display: flex;
    align-items: center;
    gap: 10px;

}

.current-bid {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 5px;
    border: 1px solid green;
    color: green;
    border-radius: 10px;
    font-family: serif;
    font-size: 0.6rem;
    font-weight: 700;
    line-height: 1.5;

}

.bid-position {
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5
}

.bids__right {
    padding-left: 30px;
    border-left: 1px solid #F0F0F0;
    width: calc(100% / 3 - 90px);
}

.top-collections {
    font-family: "Roboto Condensed", serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding-left: 10px;

}

.top-collections__subtext {
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #3D00B7;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
}

.top-collections__list {
    padding: 0;
}

.bids-warper--right {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.top-collections__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    border-bottom: 1px solid #F0F0F0;
    margin-left: 30px;
    gap: 25px;
}

.bidder-name {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.top-collections__bid {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5;
    color: #636363;
    margin-top: 8px;
}

.bid-percentage {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
    color: #14C8B0;
}

.top-collections__items:nth-child(3n+2) .bid-percentage {
    color: red;
}